<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Farm</h1>
        <div class="col-6 offset-3">
            <form method="POST" action="/farms/new" novalidate class="needs-validation">
                <div class="my-3">
                    <label class="form-label" for="name">Farm Name</label>
                    <input class="form-control" id="name" type="text" name="name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="city">City</label>
                    <input class="form-control" id="city" type="text" name="city" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" type="text" name="email" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="imageURL">Image URL</label>
                    <input class="form-control" id="imageURL" type="text" name="imageURL" required></input>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Save Changes</button>
                </div>
            </form>
            <footer>
                <a href="/farms">All Farms</a>
            </footer>
        </div>
    </div>
